<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<span class="copyright">{{ site.data.default.copyright }}</span>
			</div>
			<div class="col-md-4">
				<ul class="list-inline social-buttons">
					{%- for sm in site.data.default.social-buttons -%}
					{% assign ws = '' %}
					<li class="list-inline-item">
						<a href="{{ sm.url }}">
							<i class="{{ sm.icon }}"></i>
						</a>
					</li>
					{%- endfor -%}
					{% assign ws = '' %}
				</ul>
			</div>
			<div class="col-md-4">
				<i class="fas fa-user"></i>
				<ul class="list-inline quicklinks">
					{%- for ql in site.data.default.quicklinks -%}
					{% assign ws = '' %}
					<li class="list-inline-item">
						<a href="{{ ql.url }}">{{ ql.title }}</a>
					</li>
					{%- endfor -%}
					{% assign ws = '' %}
				</ul>
			</div>
		</div>
	</div>
</footer>
