<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
	<div class="container">
		<a class="navbar-brand js-scroll-trigger" href="#page-top">{{ site.data.default.brand.name }}</a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			{{ site.data.default.menu-string }}
			<i class="fa fa-bars"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav text-uppercase ml-auto">
				{%- for link in site.data.default.nav -%}
				{% assign ws = '' %}
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="{{ link.url }}">{{ link.title }}</a>
				</li>
				{%- endfor -%}
				{% assign ws = '' %}
			</ul>
		</div>
	</div>
</nav>


<!--<nav class="navbar navbar-dark bg-dark justify-content-between">-->
<!--&lt;!&ndash;	<a class="navbar-brand">bigspark</a>&ndash;&gt;-->
<!--	<a class="navbar-brand" href="#">-->
<!--		<img src="assets/img/logo.png" class="img-fluid" height="10%" width="10%" alt="Responsive image">-->
<!--	</a>-->
<!--</nav>-->
